.primary {
  color: var(--color-white);

  border: 2px solid white;
  border-radius: var(--border-radius);

  background-image: var(--gradient-block);

  font-size: 16px;

  padding: 5px 20px;
  width: min(70vw, 303px);

  cursor: pointer;

  display: flex;

  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;
}

.primary:hover {
  background-image: var(--gradient-button);
  color: black;
}

.primary__option {
  font-weight: 700;
  color: var(--color-yellow);
  padding-right: 10px;
  transition: color 0.1 ease-in;
}

.primary:hover .option {
  color: #fcf6eb;
}

.hint {
  width: 74px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: var(--gradient-hint);

  border-radius: var(--border-radius);

  font-weight: 700;
}

.hint:hover {
  box-shadow:
    5px 5px rgba(255, 255, 255, 0.2),
    -5px 5px rgba(255, 255, 255, 0.2),
    5px -5px rgba(255, 255, 255, 0.2),
    -5px -5px rgba(255, 255, 255, 0.2);
}

.back {
  background-color: transparent;

  width: fit-content;
}

.modalWindow {
  color: var(--color-black);

  background-image: linear-gradient(to bottom, #fcb83f, #fd9f3c);

  border-left: 2px solid #763c11;
  border-right: 2px solid #763c11;
  border-top: 2px solid #fdf6a4;
  border-bottom: 2px solid #fdf6a4;
  border-radius: 10px;

  width: 250px;
  height: 44px;

  text-align: center;
}

.disabledButton {
  filter: brightness(0.5);
  cursor: default;
}

button .disabledButton:hover {
  box-shadow: none;
}

@media (max-width: 760px) {
  .back {
    padding: 10px;

    background-image: linear-gradient(to right, #9a9ba1, #d8d9dc, #9a9ba1);

    border: 2px solid #e8eaf3;
    border-radius: var(--border-radius);
  }
}
